.footer {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: $writingColor;
    border: none;
    padding: 1rem;
    span {
        color: rgba(121, 124, 139, 0.452);
    }
}

.footerBgDark {
    background-color: $bgColor !important;
}
