.movieCards {
    display: grid;
    grid-column-gap: 0.2vw;

    position: relative;

    height: fit-content;
    width: 100%;
    margin-top: 4rem;
}

.card {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1.1fr;
    grid-template-rows: 1fr;

    width: 100%;
    height: 182.08px;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;

    &:nth-child(10) {
        span {
            font-size: 12rem;
            letter-spacing: -1.2rem;
            right: 4.5rem;
            top: -1.5rem;
        }
    }

    &Number {
        user-select: none;
        display: flex;
        align-items: center;
        justify-content: right;

        width: 100%;

        span {
            font-size: 15.5rem;
            position: absolute;
            top: -3.5rem;

            font-weight: 800;
            color: $transparentGray;
        }
    }

    &Image {
        user-select: none;
        width: 100%;
        height: auto;
        z-index: 2;
        background-repeat: no-repeat;
        background-color: black;
        background-position: center;
        background-size: cover;
    }
}

.shadowCard {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.822);
    z-index: 10;
    opacity: 0;

    .imdbRank {
        color: $transparentGray;
    }

    .seeDetailsButton {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0.5rem;
        right: 1rem;

        width: 2rem;
        height: 2rem;
        border-radius: 999px;
        border: 2px solid $transparentGray;

        &::after {
            content: "";
            width: 0.6rem;
            height: 2px;
            border-radius: 999px;
            background-color: $transparentGray;
            transform: rotateZ(-45deg) translateX(-3px);
        }

        &::before {
            content: "";
            width: 0.6rem;
            height: 2px;
            border-radius: 999px;
            background-color: $transparentGray;
            transform: rotateZ(45deg) translateX(3px);
        }

        &:hover {
            border: 2px solid $writingColor;
            &::after {
                background-color: $writingColor;
            }
            &::before {
                background-color: $writingColor;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .movieCards {
        position: relative;
    }
    .card {
        display: flex;
        align-items: center;
        justify-content: center;

        grid-template-columns: none;
        grid-template-rows: none;

        width: 100%;
        height: 30rem;
        margin-bottom: 1rem;

        &Image {
            width: 100%;
            height: 100%;
        }

        &Number {
            display: none;
        }
    }
}

@media only screen and (min-width: 603px) {
    .movieCards {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-row-gap: 0.5rem;
        grid-column-gap: 0.5rem;
    }
    .card {
        height: 14rem;
        &:nth-child(10) {
            span {
                font-size: 12.5rem;
                top: -0.5rem;
                right: 4.6rem;
            }
        }

        &Number {
            span {
                font-size: 15rem;
                top: -2.4rem;
                right: 6.4rem;
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    .movieCards {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-row-gap: 1.5rem;
        grid-column-gap: 0.2vw;
    }
    .card {
        height: 10rem;
        &:nth-child(10) {
            span {
                font-size: 10rem;
                top: -1rem;
                right: 4.3rem;
            }
        }

        &Number {
            span {
                font-size: 12.3rem;
                top: -2.4rem;
                right: 4.7rem;
            }
        }
    }
}

@media only screen and (min-width: 1130px) {
    .movieCards {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-row-gap: 1.5rem;
    }
    .card {
        height: 182.08px;
        &:nth-child(10) {
            span {
                font-size: 11.5rem;
                right: 5rem;
            }
        }

        &Number {
            span {
                font-size: 14.8rem;
                top: -3.3rem;
                right: 6rem;
            }
        }
    }
}

@media only screen and (min-width: 1300px) {
    .movieCards {
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-row-gap: 2rem;
    }
    .card {
        height: 182.08px;
        &:nth-child(10) {
            span {
                font-size: 12rem;
                right: 4.5rem;
            }
        }

        &Number {
            span {
                font-size: 15.5rem;
                top: -3.5rem;
                right: 5.4rem;
            }
        }
    }
}
