.moviesContainer {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: fit-content;
    
    .movies {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        
        min-height: fit-content;
        margin: 7rem 2rem 0rem;
        color: $writingColor;

        h1 {
            font-size: 6rem;
            margin: 1rem 0rem;
            display: inline;
            color: $neonYellow;
            margin-right: 1rem;
        }

        p {
            font-size: 1.4rem;
            font-weight: 600;
            color: $writingColor;
        }
    }
}

@media only screen and (max-width: 600px) {}

@media only screen and (min-width: 600px) {
    .movies {
        width: 550px;
        margin-right: 1.5rem !important;
        margin-left: 1.5rem !important;
    }
}

@media only screen and (min-width: 768px) {
    .movies {
        width: 650px;
    }
}

@media only screen and (min-width: 1130px) {
    .movies {
        width: 1070px;
    }
}

@media only screen and (min-width: 1300px) {
    .movies {
        width: 1270px;
    }
}

