.mail {
    font-size: 2rem;
    font-weight: 800;
    background-color: transparent;
    border: 0;
    margin-bottom: 2rem;
    white-space: normal;
    word-wrap: break-word;
    display: inline-block;


}

.socialsContainer {
    margin-top: 1rem;
    a {
        color: white;

        &:hover {
            text-decoration: underline;
        }
    }
}
.socials {
    display: flex;
    align-items: center;
    margin-top: 1.5rem;

    
    &Button {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        
        font-size: 2rem;
        border-radius: 999px;
        margin-right: 1rem;
        
        &::after {
            content: '';
            width: 0;
            position: absolute;
            bottom: -.4rem;
            height: 4px;
            right: 0rem !important;
            border-radius: 999px;
            background-color: $neonPurple;
            transition: width .2s cubic-bezier(.59,.13,.03,.97);
        }

        &:hover {
            &::after {
                width: 2rem !important;
                left: 0rem !important;
            }
        }
    }
}